body {
  font-family: 'Scada', sans-serif;
  padding: 0;
  margin: 0;
  background: #eee;
}
p {
  color: #333;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.link {
  text-decoration: none;
  color: rgb(39, 105, 190);
}
.header-main {
  grid-area: header;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}
.hero_title {
  margin: 2rem 0;
}
.picture-frame {
  background-color: rgb(143, 182, 224);
  flex: 0 1 15rem;
  padding: 1rem 0 0 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border-radius: 50rem 1rem 1rem 50rem; */
  border-radius: 1rem;
  overflow: hidden;
  border: .25rem solid white;
  border-right: .25rem solid white;
  /* transform: skew(-10deg); */
  margin: 2rem;
  box-shadow: 10px 10px 33px 10px rgba(0,0,0,0.18);
}
.img-cutout {
  max-width: 10rem;
  height: auto;
  /* transform: skew(10deg) rotate(8.75deg); */
  align-self: flex-end;
}
.hero_text-area {
  flex: 1 1 20rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* transform: skew(-10deg); */
  padding: 7.5rem 5rem;
  /* align-self: flex-end; */
  /* background: #eee; */
}

.list-row {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}
.list-row_item {
  flex: 0 0 auto;
  margin-right: 1rem;
}
.list-row_item:last-child {
  margin-right: 0;
}
.home-s2 {
  background: white;
}
.card {
  border-radius: 1rem;
  box-shadow: 10px 10px 33px 10px rgba(0,0,0,0.18);
  overflow: hidden;
  background: white;
  padding: 1rem;
}
.collage {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}
.collage_item {
  flex: 1 0 10rem;
  margin: .5rem;
}
.img--fluid {
  width: 100%;
  height: auto;
}
.section {
  display: flex;
  justify-content: center;
}
.section-content {
  max-width: 1000px;
  margin: 2rem;
}

.work-item {
  width: 100%;
  display: grid;
  color: white;
  min-height: 100vh;
}
.work-item--eparts {
  background-color: #00183B;
  color: white;
}
.work-item--eservices {
  background-color: rgb(35, 107, 54);
}
.work-item--bertus {
  background-color: #CED0DC;
  color: black;
}
h1 {
  font-size: 5rem;
}
a {
  color:inherit;
}
.logo {
  
}
.logo-tag {
  font-weight: 300;
}
.footer-tag {
}